body {
    font-family: 'Gayathri', sans-serif;
    background-color: rgb(214, 214, 214);
}

h3 {
    margin-top: 10px;
}

.container {
    margin: 0 auto;
}

.cardTitle {
    color: white !important;
}

.white-text {
    font-size: 20px;
}